{{define "title"}}New Contact{{end}}

{{define "main"}}
<form action="/contacts/{{.Contact.ID}}/edit" method="post">
    <fieldset>
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" hx-get="/contacts/{{.Contact.ID}}/email" hx-target="next .error"
                hx-trigger="change, keyup delay:200ms changed" placeholder="Email Address" value="{{.Contact.Email}}">
            <span class="error">{{ index .Errors "email"}}</span>
        </p>
        <p>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="last_name" placeholder="First Name" value="{{.Contact.FirstName}}">
            <span class="error">{{index .Errors "first_name"}}</span>
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" value="{{.Contact.LastName}}">
            <span class="error">{{index .Errors "last_name"}}</span>
        </p>
        <p>
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" placeholder="Phone" value="{{.Contact.Phone}}">
            <span class="error">{{index .Errors "phone"}}</span>
        </p>
        <button>Save</button>
    </fieldset>
</form>
<button id="delete-btn" hx-delete="/contacts/{{.Contact.ID}}" hx-target="body" hx-push-url="true"
    hx-confirm="Are you sure you want to delete this contact?">Delete Contact</button>
<p>
    <a href="/contacts">Back</a>
</p>
{{end}}